@model IEnumerable<BannerViewModel>

<!-- Home Slider -->
    <div class="owl-carousel owl-theme home_slider">
        @foreach (BannerViewModel banner in Model)
        {
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image:url(@banner.Image)"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_content" data-animation-in="fadeIn" data-animation-out="animate-out fadeOut">
                                    <div class="home_slider_title">@banner.Title</div>
                                    <div class="home_slider_subtitle">@banner.Description</div>
                                    <div class="button button_light home_button"><a href="@banner.Link">Shop Now</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Home Slider Dots -->

    <div class="home_slider_dots_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_slider_dots">
                        <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    <li class="home_slider_custom_dot active">@(i+1).</li>
                                }
                                else
                                {
                                    <li class="home_slider_custom_dot">@(i+1).</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
