<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sublime.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
                                    <button class="nav-link btn btn-link text-dark" type="submit">Выход</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            string returnUrl = ViewContext.HttpContext.Request.QueryString.HasValue
                            ? ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString
                            : ViewContext.HttpContext.Request.Path.ToString();

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" asp-route-returnurl="@returnUrl">Вход</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index">Sublime.</a>
        </div>
    </footer>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
